@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/* @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"); */

h2 {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
	/* background-color: rgb(185, 218, 251); */
}

/* nav top */
.navbar-top {
	font-family: 'Allerta', sans-serif;
	position: absolute;
	font-size: 18px;
	top: 3%;
	left: 3%;
	color: rgba(148, 255, 253, 0.918);
}

.svg-wrapper {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
	width: 500px;
}

.shape1,
.shape2 {
	stroke-dasharray: 1120;
	stroke-width: 5px;
	fill: transparent;
	stroke: #19f6e8;
	border-bottom: 5px solid black;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition: stroke-dashoffset 4s, stroke-dasharray 4s;
	transition: stroke-dashoffset 4s, stroke-dasharray 4s;
}

.shape1 {
	stroke-dashoffset: 1120;
}

.shape2 {
	stroke-dashoffset: -1120;
}

.svg-wrapper:hover .shape1,
.svg-wrapper:hover .shape2 {
	stroke-dashoffset: 0;
	stroke-dasharray: 1120;
}

.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.container .column {
	width: 25%;
	height: 100%;
	float: left;
	border-right: 2px solid rgba(0, 0, 0, .5);
	box-sizing: border-box;
	z-index: 1;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.container .column:last-child {
	border-right: none;
}

.container .column .content {
	position: relative;
	height: 100%;
}

.container .column .content h1 {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	background: rgba(0, 0, 0, .1);
	text-align: center;
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, .2);
	font-size: 15em;
	border-top: 2px solid rgba(0, 0, 0, .5);
	border-bottom: 2px solid rgba(0, 0, 0, .5);
}

.container .column .content .box {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	box-sizing: border-box;
	padding: 40px;
	background: rgba(255, 255, 255, 0.272);
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
}

.container .column.active .content .box {
	opacity: 1;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container .column .content .box h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: #262626;
}

.container .column .content .box p {
	color: #262626;
	font-size: 18px;
}

.container .column .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1;
}

.container .column.active .bg.bg1 {
	background: url('images/lite/bg1.webp');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.container .column.active .bg.bg2 {
	background: url('images/lite/bg2.webp');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.container .column.active .bg.bg3 {
	background: url('images/lite/bg3.webp');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.container .column.active .bg.bg4 {
	background: url('images/lite/bg4.webp');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.container2 {
	/* background-image: linear-gradient(180deg, rgb(185, 218, 251)); */
	background-color: rgb(185, 218, 251);
	box-sizing: border-box;
	padding: 0px 25px 0 25px;
	margin-top: -25px;
	height: 100%;
}

.container2 .coming-soon .thxft {
	font-family: fantasy;
	color: #2774f8;
	box-shadow: 0px 0px 42px 4px rgba(38, 38, 49, 0.42);
}

.container2 .coming-soon .flwlm {
	padding: 0px 35px 0 35px !important;
	display: grid;
	place-items: center;
	font-family: fantasy;
	color: #4f8fff;
	box-shadow: 0px 0px 42px 4px rgba(38, 38, 49, 0.42);
}


.container2 .coming-soon h5 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgba(46, 80, 88, 0.272);
	font-size: 14px;
	display: grid;
	place-items: center;

}

.container2 .coming-soon .blured {
	background: url(lumi-2.jpg) !important;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	filter: blur(100%);
}

.paragh {
	font-family: 'Jura', sans-serif;
	font-size: 23px !important;
	box-sizing: border-box;
	place-items: center;
	display: grid;
	padding: 5px;
}

/* blureddd */
.blured-title {
	display: grid;
	place-items: center;
	padding: 35px;
	font-size: 38px;
	color: rgb(53, 30, 57);
	/* font-family: 'Krona One', sans-serif; */
	font-family: 'Josefin Sans', sans-serif;
}

.ht1tl {
	border: 0px solid;
	width: 55%;
	height: 8px;
	position: relative;
	bottom: 40px;
	background-image: linear-gradient(70deg, rgb(147, 227, 236), rgb(136, 190, 243), rgb(58, 154, 196), rgb(147, 227, 236));
}


.containers {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.container__image {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	/* background-image: url("/lumi-4.jpg"); */
	background-image: url('images/lite/Dont-go.webp');
	/* background: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
	background-size: cover;
	-webkit-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
	z-index: 2;
}

.container__image .container__info {
	position: relative;
	line-height: 1.8;
	-webkit-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
	opacity: 0;
}

.container__image:hover .container__info {
	-webkit-transform: translate3d(-60%, 0, 0);
	transform: translate3d(-60%, 0, 0);
	opacity: 1;
}

.container__image .container__location {
	transition-delay: .15s;
}

.container__image::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	background: inherit;
	background-position: bottom;
	filter: blur(40px) saturate(0);
	-webkit-transform: scaleX(.4);
	transform: scaleX(.4);
	-webkit-transition: ease-in-out .4s;
	transition: ease-in-out .4s;
	border-radius: 120px;
	-webkit-transform-origin: right;
	transform-origin: right;
	opacity: 0;
	z-index: -1;
}

.container__image:hover::before {
	width: 100%;
	opacity: .18;
	filter: blur(10px) saturate(100%);
	-webkit-transform: scale(3.0) translate3d(35%, 0, 0);
	transform: scale(3.0) translate3d(35%, 0, 0);
}

.container__image:hover {
	border-radius: 0;
	width: 450px;
	height: 310px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .04), 0 2px 6px rgba(9, 55, 53, .08), 0 16px 24px rgba(9, 55, 53, .1), 0 24px 32px rgba(9, 55, 53, .14);
}

.link {
	border-bottom: 1px solid transparent;
	color: #015022;
	text-decoration: none;
	-webkit-transition: ease-in .13s;
	transition: ease-in .13s;
}

.link:hover {
	background-color: #015022;
	color: #FFFFFF;
}

.contain-blurred {
	background-color: rgb(147, 227, 236);
	box-sizing: content-box;
	padding: 1%;
}

.container-games {
	box-sizing: content-box;
	height: 500px;
	/* background-color: rgb(136, 200, 223); */
	background-image: linear-gradient(180deg, rgb(147, 227, 236), rgb(102, 253, 218));
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-games .widget-games a {
	text-decoration: none;
}

.contentz {
	flex-direction: column;
	text-align: center;
	padding: 40px 0px;
}

.hpar {
	justify-content: center;
	text-align: center;
	color: #444;
	/* letter-spacing: 0.05em; */
	margin: 0 0 0.4em;
	font-size: 2em;
}


.buttonz {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	/*   padding: 2em 0em; */
}

.btnz {
	letter-spacing: 0.1em;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 45px;
	max-width: 160px;
	position: relative;
	text-decoration: none;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	width: 100%;
}

.btnz:hover {
	text-decoration: none;
}

/*btnz_background*/
.effect04 {
	display: inline-flex;
	color: #000;
	outline: solid 2px #000;
	position: relative;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	overflow: hidden;
}

.effect04::before,
.effect04 span {
	margin: 0 auto;
	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.effect04:hover {
	background-color: #000;
}

.effect04:hover span {
	-webkit-transform: translateY(-400%) scale(-0.1, 20);
	transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
	content: attr(data-sm-link-text);
	color: #FFF;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transform: translateY(500%) scale(-0.1, 20);
	transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
	letter-spacing: 0.05em;
	-webkit-transform: translateY(0) scale(1, 1);
	transform: translateY(0) scale(1, 1);
}

/* news section */
* {
	box-sizing: border-box;
}

.container-news {
	background-image: linear-gradient(to bottom rgb(102, 253, 218), rgb(102, 253, 137));
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

.container-news a {
	text-decoration: none;
}

.container-news h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.row {
	padding-top: 60px;
	max-width: 900px;
	margin: 50px auto 0;
}

.card {
	float: left;
	padding: 0 1.7rem;
	width: 50%;
}

.card .menu-content {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card .menu-content::before,
.card .menu-content::after {
	content: '';
	display: table;
}

.card .menu-content::after {
	clear: both;
}

.card .menu-content li {
	display: inline-block;
}

.card .menu-content a {
	color: #fff;
}

.card .menu-content span {
	position: absolute;
	left: 50%;
	top: 0;
	font-size: 10px;
	font-weight: 700;
	font-family: 'Open Sans';
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.card .wrapper {
	background-color: #fff;
	min-height: 540px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.card .data {
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-transform: translateY(calc(70px + 1em));
	transform: translateY(calc(70px + 1em));
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

.card .data .content {
	padding: 1em;
	position: relative;
	z-index: 1;
}

.card .author {
	font-size: 12px;
}

.card .title {
	margin-top: 10px;
}

.card .text {
	height: 70px;
	margin: 0;
}

.card input[type='checkbox'] {
	display: none;
}

.card input[type='checkbox']:checked+.menu-content {
	-webkit-transform: translateY(-60px);
	transform: translateY(-60px);
}

.example-1 .wrapper {
	background: url('images/lite/Lumi-in-the-classroom.webp') cover no-repeat;

}

.example-1 .date {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #77d7b9;
	color: #fff;
	padding: 0.8em;
}

.example-1 .date span {
	display: block;
	text-align: center;
}

.example-1 .date .day {
	font-weight: 700;
	font-size: 24px;
	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}

.example-1 .date .month {
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
}

.example-1 .date .month,
.example-1 .date .year {
	font-size: 12px;
}

.example-1 .content {
	background-color: #fff;
	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.example-1 .title a {
	color: #808080;
}

.example-1 .menu-button {
	position: absolute;
	z-index: 999;
	top: 16px;
	right: 16px;
	width: 25px;
	text-align: center;
	cursor: pointer;
}

.example-1 .menu-button span {
	width: 5px;
	height: 5px;
	background-color: #808080;
	color: #808080;
	position: relative;
	display: inline-block;
	border-radius: 50%;
}

.example-1 .menu-button span::after,
.example-1 .menu-button span::before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	background-color: currentColor;
	position: absolute;
	border-radius: 50%;
}

.example-1 .menu-button span::before {
	left: -10px;
}

.example-1 .menu-button span::after {
	right: -10px;
}

.example-1 .menu-content {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.example-1 .menu-content li {
	width: 33.333333%;
	float: left;
	background-color: #77d7b9;
	height: 60px;
	position: relative;
}

.example-1 .menu-content a {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 24px;
}

.example-1 .menu-content span {
	top: -10px;
}

.example-2 .wrapper {
	background-color: rgb(34, 34, 41);
	background: url('images/lite/Lumi-in-the-classroom.webp') cover no-repeat;

}

.example-2 .wrapper:hover .menu-content span {
	-webkit-transform: translate(-50%, -10px);
	transform: translate(-50%, -10px);
	opacity: 1;
}

.example-2 .header {
	color: #fff;
	padding: 1em;
}

.example-2 .header::before,
.example-2 .header::after {
	content: '';
	display: table;
}

.example-2 .header::after {
	clear: both;
}

.example-2 .header .date {
	float: left;
	font-size: 12px;
}

.example-2 .menu-content {
	float: right;
}

.example-2 .menu-content li {
	margin: 0 5px;
	position: relative;
}

.example-2 .menu-content span {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}

.example-2 .data {
	color: #fff;
	-webkit-transform: translateY(calc(70px + 4em));
	transform: translateY(calc(70px + 4em));
}

.example-2 .title a {
	color: #fff;
}

.example-2 .button {
	display: block;
	width: 100px;
	margin: 2em auto 1em;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 1;
	position: relative;
	font-weight: 700;
}

.example-2 .button::after {
	content: '\2192';
	opacity: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.example-2 .button:hover::after {
	-webkit-transform: translate(5px, -50%);
	transform: translate(5px, -50%);
	opacity: 1;
}


* {
	box-sizing: border-box;
}

/* 
rgb(136, 200, 223), rgb(185, 218, 251) */
.container-news {
	background-image: linear-gradient(180deg, rgb(102, 253, 218), rgba(102, 253, 205, 0.809));
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	top: -50px;
}

a {
	text-decoration: none;
}

.container-news h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.row {
	max-width: 900px;
	margin: 50px auto 0;
}

.card {
	float: left;
	padding: 0 1.7rem;
	width: 50%;
}

.card .menu-content {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card .menu-content::before,
.card .menu-content::after {
	content: '';
	display: table;
}

.card .menu-content::after {
	clear: both;
}

.card .menu-content li {
	display: inline-block;
}

.card .menu-content a {
	color: #fff;
}

.card .menu-content span {
	position: absolute;
	left: 50%;
	top: 0;
	font-size: 10px;
	font-weight: 700;
	font-family: 'Open Sans';
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.card .wrapper {
	background-color: #fff;
	min-height: 540px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.card .data {
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-transform: translateY(calc(70px + 1em));
	transform: translateY(calc(70px + 1em));
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

.card .data .content {
	padding: 1em;
	position: relative;
	z-index: 1;
}

.card .author {
	font-size: 12px;
}

.card .title {
	margin-top: 10px;
}

.card .text {
	height: 70px;
	margin: 0;
}

.card input[type='checkbox'] {
	display: none;
}

.card input[type='checkbox']:checked+.menu-content {
	-webkit-transform: translateY(-60px);
	transform: translateY(-60px);
}

.example-1 .wrapper {
	background: url('images/lite/Lumi-in-the-classroom.webp') 20% 1% / cover no-repeat;
	/* background: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
}

.example-1 .date {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #77d7b9;
	color: #fff;
	padding: 0.8em;
}

.example-1 .date span {
	display: block;
	text-align: center;
}

.example-1 .date .day {
	font-weight: 700;
	font-size: 24px;
	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}

.example-1 .date .month {
	text-transform: uppercase;
}

.example-1 .date .month,
.example-1 .date .year {
	font-size: 12px;
}

.example-1 .content {
	background-color: #fff;
	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.example-1 .title a {
	color: #808080;
}

.example-1 .menu-button {
	position: absolute;
	z-index: 999;
	top: 16px;
	right: 16px;
	width: 25px;
	text-align: center;
	cursor: pointer;
}

.example-1 .menu-button span {
	width: 5px;
	height: 5px;
	background-color: #808080;
	color: #808080;
	position: relative;
	display: inline-block;
	border-radius: 50%;
}

.example-1 .menu-button span::after,
.example-1 .menu-button span::before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	background-color: currentColor;
	position: absolute;
	border-radius: 50%;
}

.example-1 .menu-button span::before {
	left: -10px;
}

.example-1 .menu-button span::after {
	right: -10px;
}

.example-1 .menu-content {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.example-1 .menu-content li {
	width: 33.333333%;
	float: left;
	background-color: #77d7b9;
	height: 60px;
	position: relative;
}

.example-1 .menu-content a {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 24px;
}

.example-1 .menu-content span {
	top: -10px;
}

.example-2 .wrapper {
	background: url('images/lite/Dont-go.webp') center / cover no-repeat;
	/* background: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */

}

.example-2 .wrapper:hover .menu-content span {
	-webkit-transform: translate(-50%, -10px);
	transform: translate(-50%, -10px);
	opacity: 1;
}

.example-2 .header {
	color: #fff;
	padding: 1em;
}

.example-2 .header::before,
.example-2 .header::after {
	content: '';
	display: table;
}

.example-2 .header::after {
	clear: both;
}

.example-2 .header .date {
	float: left;
	font-size: 12px;
}

.example-2 .menu-content {
	float: right;
}

.example-2 .menu-content li {
	margin: 0 5px;
	position: relative;
}

.example-2 .menu-content span {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}

.example-2 .data {
	color: #fff;
	-webkit-transform: translateY(calc(70px + 4em));
	transform: translateY(calc(70px + 4em));
}

.example-2 .title a {
	color: #fff;
}

.example-2 .button {
	display: block;
	width: 100px;
	margin: 2em auto 1em;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 1;
	position: relative;
	font-weight: 700;
}

.example-2 .button::after {
	content: '\2192';
	opacity: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.example-2 .button:hover::after {
	-webkit-transform: translate(5px, -50%);
	transform: translate(5px, -50%);
	opacity: 1;
}
/* end news section */



/* video section */
.video-section {
	display: grid;
	width: 75%;
	grid-gap: 1rem;
	padding: 1rem;
	margin: 0 auto;
	height: 100vh;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
}

/* .main-video {
	width: 1000px;
	height: 850px;
	place-items: center;
	display: grid;
	margin-top: -20px;
}

.mini-video {
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto auto;
	padding: 10px;
} */

/* .min-v {
	width: 160px;
	height: 75px;
	padding: 1px;
	font-size: 30px;
} */

.video-container {
	/* margin-top: -80px; */
	height: 140vh;
	box-sizing: border-box;
	background-image: linear-gradient(180deg, #e0c8bd, rgb(185, 218, 251));
	text-align: center;
	font-family: 'Roboto Mono';
	padding: 1em;
}

/* .vid-title {
	font-size: 24px;
} */


.flip {
	position: relative;
}

.flip>.front,
.flip>.back {
	display: block;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.flip>.front {
	transform: rotateY(0deg);
}

.flip>.back {
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.flip:hover>.front {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip:hover>.back {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.flip.flip-vertical>.back {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.flip.flip-vertical:hover>.front {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.flip.flip-vertical:hover>.back {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.flip {
	text-align: center;
	position: relative;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 1em;
	width: 400px;
}

.flip>.front,
.flip>.back {
	display: block;
	color: white;
	width: inherit;
	background-size: cover !important;
	background-position: center !important;
	height: 220px;
	padding: 10px 10px;
	background: linear-gradient(125deg, #e0c8bd, #d3e0bd);
	border-radius: 10px;
	/* object-fit: cover;
	align-items: center;
	justify-content: center; */
}

/* .flip>.front,
.flip>.back iframe {
	display: grid;
	object-fit: cover;
	align-items: center;
	justify-content: center;
}
 */

.flip>.front p,
.flip>.back p {
	font-size: 0.9125rem;
	line-height: 160%;
	color: #999;
}

.text-shadow {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.h-parlast {
	text-decoration: bold;
}

.LP-n {
	font-family: 'Julius Sans One', sans-serif;

}

.acc-footer {
	display: grid;
}

.nvlast {
	color: rgba(34, 34, 34, 0.734);
}

.footer-social-links {
	font-size: 14px;
	text-align: center;
}

.footer-social-links a {
	width: 25px;
	height: 25px;
	line-height: 25px !important;
	position: relative;
	margin: 0 5px;
	text-align: center;
	display: inline-block;
	color: #111;

	-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.footer-social-links a i,
.footer-social-links a span {
	position: relative;
	top: 2px;
	left: 1px;
}

.footer-social-links a:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #111;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

	-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	-ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}

.footer-social-links a:hover {
	color: #fff;
}

.footer-social-links a:hover:before {
	background: rgb(38, 95, 106);
}